<a  routerLink="/restaurants" routerLinkActive="active">
  <button mat-fab fxFlex="70px" fxLayoutAlign="center center">Back</button>
</a>
<div fxFlex fxLayoutAlign="end start">
  <a routerLink="/french">
    <button mat-button color="primary">Fr</button>
  </a>
</div>


<div class="truc-a-centrer">
<mat-card>
<mat-tab-group>
  <mat-tab label="Sign in"><mat-card>
    <div class="example-container" fxLayoutAlign="center center" fxLayout="column">

      <!---->
      <!--<mat-form-field>-->
        <!--<input matInput #input placeholder="E-mail">-->
      <!--</mat-form-field>-->

      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">

      </mat-form-field>

      <a  routerLink="/validation" routerLinkActive="active">
        <button mat-fab fxFlex="80px" fxLayoutAlign="center center">Log in</button>
      </a>

    </div>
  </mat-card>
  </mat-tab>

    <mat-tab label="Sign up"><mat-card>
      <div class="example-container" fxLayoutAlign="center center" fxLayout="column">

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="Name">
        </mat-form-field>

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="First Name">
        </mat-form-field>

        <!--<mat-form-field hintLabel="">-->
          <!--<input matInput #input placeholder="E-mail">-->
        <!--</mat-form-field>-->

        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <!--<mat-form-field hintLabel="">-->
          <!--<input matInput #input placeholder="Phone">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Phone number" [formControl]="phone" required>-->
          <!--<mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>-->
        <!--</mat-form-field>-->

        <mat-form-field hintLabel="Max 10 characters">
          <input matInput #input maxlength="10" placeholder="Enter some input">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'">

        </mat-form-field>

        <a  routerLink="/validation" routerLinkActive="active">
          <button mat-fab fxFlex="80px" fxLayoutAlign="center center">Sign up</button>
        </a>

      </div>
    </mat-card>

  </mat-tab>
</mat-tab-group>
</mat-card>
</div>


