<a  routerLink="/restaurants" routerLinkActive="active">
  <button mat-fab fxFlex="70px" fxLayoutAlign="center center">Retour</button>
</a>
<div class="truc-a-centrer">
<mat-card>
<mat-tab-group>
  <mat-tab label="Connexion"><mat-card>
    <div class="example-container" fxLayoutAlign="center center" fxLayout="column">
      <mat-form-field>
        <input matInput #input placeholder="Email">
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">

      </mat-form-field>

      <a  routerLink="/restaurants/Validation" routerLinkActive="active">
        <button mat-fab fxFlex="80px" fxLayoutAlign="center center">Connexion</button>
      </a>

    </div>
  </mat-card>
  </mat-tab>

    <mat-tab label="Inscription"><mat-card>
      <div class="example-container" fxLayoutAlign="center center" fxLayout="column">

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="Nom">
        </mat-form-field>

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="Prenom">
        </mat-form-field>

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="Email">
        </mat-form-field>

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="Téléphone">
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirmer mot de passe" [type]="hide ? 'password' : 'text'">

        </mat-form-field>

        <a  routerLink="/validation" routerLinkActive="active">
          <button mat-fab fxFlex="80px" fxLayoutAlign="center center">S'inscrire</button>
        </a>

      </div>
    </mat-card>

  </mat-tab>
</mat-tab-group>
</mat-card>
</div>


