<a  routerLink="/restaurants" routerLinkActive="active">
  <button mat-fab fxFlex="70px" fxLayoutAlign="center center">Back</button>
</a>
<div fxFlex fxLayoutAlign="end start">
  <a routerLink="/french">
    <button mat-button color="primary">Fr</button>
  </a>
</div>


<div class="truc-a-centrer">
<mat-card>
<mat-tab-group>
  <mat-tab label="Sign in"><mat-card>
    <div class="example-container" fxLayoutAlign="center center" fxLayout="column">

      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="required">
        <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>

      <a  routerLink="/validation" routerLinkActive="active">
        <button mat-fab fxFlex="80px" fxLayoutAlign="center center">Log in</button>
      </a>

    </div>
  </mat-card>
  </mat-tab>

    <mat-tab label="Sign up"><mat-card>
      <div class="example-container" fxLayoutAlign="center center" fxLayout="column">

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="Name" [formControl]="required2" required>
          <mat-error *ngIf="required2.invalid">{{getErrorMessageRequired()}}</mat-error>

        </mat-form-field>

        <mat-form-field hintLabel="">
          <input matInput #input placeholder="First Name" [formControl]="required3" required>
          <mat-error *ngIf="required3.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email2" required>
          <mat-error *ngIf="email2.invalid">{{getErrorMessageEmail2()}}</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input matInput #input maxlength="10" placeholder="Enter phone number" [formControl]="required4" required>
          <mat-error *ngIf="required4.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="required5" required>
          <mat-error *ngIf="required5.invalid">{{getErrorMessageRequired()}}</mat-error>

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" [formControl]="required6" required>
          <mat-error *ngIf="required6.invalid">{{getErrorMessageRequired()}}</mat-error>

        </mat-form-field>

        <a  routerLink="/validation" routerLinkActive="active">
          <button mat-fab fxFlex="80px" fxLayoutAlign="center center">Sign up</button>
        </a>

      </div>
    </mat-card>

  </mat-tab>
</mat-tab-group>
</mat-card>
</div>


