<a  routerLink="/inscription" routerLinkActive="active">
  <button mat-fab fxFlex="70px" fxLayoutAlign="center center">Back</button>
</a>


<mat-card>
  <mat-card-header>
    <div fxFlex fxLayout="column">
      <mat-card class="green" fxFlex fxLayoutAlign="center center">
        <div>
          Receive your reservation
        </div>
      </mat-card>

      <mat-card fxFlex fxLayoutAlign="start center" class="white">
        You will receive your booking confirmation and payment by email.
      </mat-card>

      <mat-card class="green" fxFlex fxLayoutAlign="center center">
        <div>
          Print it
        </div>
      </mat-card>

      <mat-card fxFlex fxLayoutAlign="start center" class="white">
        Print your booking ticket or download your QR code on your smartphone.
      </mat-card>

      <mat-card class="green" fxFlex fxLayoutAlign="center center">
        <div>
          Appointment on the day
        </div>
      </mat-card>

      <mat-card fxFlex fxLayoutAlign="start center" class="white">
        Make an appointment on the day of the reservation at the restaurant chosen with your booking ticket or your QR code.
      </mat-card>

    </div>
  </mat-card-header>


<mat-card-content>
</mat-card-content>
</mat-card>
