<mat-card>
  <mat-card-header>
    <div fxFlex fxLayout="column">
      <mat-card class="green" fxFlex fxLayoutAlign="center center">
        <div>
          Description
        </div>
      </mat-card>

      <mat-card fxFlex fxLayoutAlign="start center" class="white">
        <div *ngIf="restaurant.description != ''; else noDescription">{{restaurant.description}}</div>
        <ng-template #noDescription> Ce restaurant n'a pas fourni de description. </ng-template>
      </mat-card>
    </div>

  </mat-card-header>
    <!-- A décommenter quand ce sera mieux agencé à l'écran -->
    <!-- <img id="photo_resto" mat-card-image src="{{restaurant.url_img}}" onerror="document.getElementById('photo_resto').src = 'https://cdn3.iconfinder.com/data/icons/abstract-1/512/no_image-512.png'"> -->
    <img mat-card-image src="https://www.wien.info/media/images/41993-das-loft-sofitel-19to1.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content class="green">

    <div fxFlex fxLayout="column">

      <!--<mat-card fxFlex fxLayoutAlign="center center">-->
      <!--<div >-->
      <!--Maps-->
      <!--</div>-->
      <!--</mat-card>-->
      <mat-card fxFlex fxLayoutAlign="center center" class="green">
        <div>
          Votre réservation
        </div>
      </mat-card>



      <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center" class="white">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="change_date($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-radio-group fxFlex fxLayout="column" class="example-radio-group" [(ngModel)]="favoriteDispo">
          <mat-radio-button class="example-radio-button" *ngFor="let dispo of dispos" [value]="dispo">
            {{dispo}}
          </mat-radio-button>
        </mat-radio-group>


        Nombre de personnes : {{nbpersons}}
        <mat-slider thumbLabel min="0" max="20" step="1" [(ngModel)]="nbpersons">
          </mat-slider>
        </mat-card>






      <mat-card fxFlex fxLayoutAlign="center center" class="green">
        <div>
         Résumé de la reservation
        </div>
      </mat-card>

      <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center" class="white">
        <div>
         <!--Date : {{date}}-->
          Date : {{ date | date : "EEEE d MMMM y" }}
        </div>
        <div>
          <div class="example-selected-value">Horaire : {{favoriteDispo}}</div>
        </div>
        <div>
          Nombre de personnes : {{nbpersons}}
        </div>

        <a routerLink="/inscription">
          <button class="reserver" mat-raised-button color=#589244 fxFlex fxLayoutAlign="center center">Réserver et payer</button>
        </a>
      </mat-card>



    </div>



    </mat-card-content>

  <mat-card-actions>


  </mat-card-actions>
</mat-card>
