<mat-toolbar color="primary" class="fixed-header">
  <!-- ommited -->
  <a routerLink="restaurants/">  <img src="http://www.cjoint.com/doc/17_12/GLfi72X7rUc_MyResto.png" class="img-responsive" alt="Eh non !" width="180" height="63.9">
  </a>
  <!--<img src="http://www.cjoint.com/doc/17_12/GLfi72X7rUc_MyResto.png" class="img-responsive" alt="Eh non !" width="180" height="63.9">-->

  <div fxFlex fxLayoutAlign="end start">
    <a routerLink="/inscription">
    <button mat-button color="primary">Connexion</button>
    </a>
  </div>

</mat-toolbar>
