<div fxLayout="row" fxLayoutWrap>
  <mat-card class="mat-elevation-z4" *ngFor="let restaurant of restaurants" fxFlex.xs = calc(100%) fxFlex.sm = calc(50%-10) fxFlex.md= calc(33%-10px) fxFlex.lg= calc(25%-10px) fxFlex.xl= calc(25%-10px) style="margin-bottom: 10px; margin-right : 10px" routerLink="/restaurant/{{restaurant.id}}"
    routerLinkActive="active" ng-style="hoverActive ? {'background':#ECEFE0} : {}">
    <mat-card-title>{{restaurant.name}}</mat-card-title>
    <img mat-card-image src={{restaurant.url_img}} alt="Photo du restaurant" class="example-image">
    <mat-card-content>
      <img src="/assets/location.png" alt="location-icon" width="20px"height="20px"> {{restaurant.address}}
      <div>
        <span class="badge">
          <img src="/assets/arobase.png" alt="location-icon" width="17px"height="17px">
          {{restaurant.email}}
        </span>
      </div>
      <div>
        <span class="badge">
          <img src="/assets/phone.png" alt="location-icon" width="17px"height="17px">
          {{restaurant.tel_number}}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
