<div fxLayout="row" fxLayoutWrap>

  <!--fxFlex.xs = calc(100%) fxFlex.sm = calc(50%-10) fxFlex.md = calc(33%-10px) fxFlex.lg = calc(25%-10px) fxFlex.xl = "calc(25%-10px)"-->

  <mat-card class="mat-elevation-z4" *ngFor="let restaurant of restaurants"
            fxFlex.xs = calc(100%) fxFlex.sm = calc(50%-10) fxFlex.md = calc(33%-10px) fxFlex.lg = calc(25%-10px) fxFlex.xl = "calc(25%-10px)"
            style=" margin-bottom: 10px; margin-right : 10px" (click)="click()">


      <mat-card-title>{{restaurant.name}}</mat-card-title>


    <img mat-card-image src={{restaurant.url_img}} alt="Photo du restaurant" class="example-image">
    <mat-card-content>
      <div>id : {{restaurant.id}}</div>

      <div>adresse :{{restaurant.address}}</div>
      <span class="badge">
        {{restaurant.email}}

      </span>
      <span class="badge">
            {{restaurant.tel_number}}
      </span>
    </mat-card-content>
  </mat-card>
</div>
