<div fxLayout="row" fxLayoutWrap>

  <!--fxFlex.xs = calc(100%) fxFlex.sm = calc(50%-10) fxFlex.md = calc(33%-10px) fxFlex.lg = calc(25%-10px) fxFlex.xl = "calc(25%-10px)"-->

  <mat-card class="mat-elevation-z4" *ngFor="let restaurant of restaurants"
            fxFlex.xs = calc(100%) fxFlex.sm = calc(50%-20px) fxFlex.md = calc(33%-20px) fxFlex.lg = calc(25%-20px) fxFlex.xl = "calc(25%-20px)"
            style=" margin-bottom: 20px; margin-right : 20px" routerLink="/restaurant/{{restaurant.id}}" routerLinkActive="active">
    <!-- <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <!--
    <span class="badge"><img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/7b/7b/c6/restaurant-view.jpg" alt="img resto!" height="100" width="200" /></span>
    <mat-card-content>
    -->
    <mat-card-title>{{restaurant.name}}</mat-card-title>
    <img mat-card-image src={{restaurant.url_img}} alt="Photo du restaurant" class="example-image">
    <mat-card-content>
      <div>id : {{restaurant.id}}</div>

      <div>adresse :{{restaurant.address}}</div>
      <span class="badge">
        {{restaurant.email}}

      </span>
      <span class="badge">
            {{restaurant.tel_number}}
      </span>
    </mat-card-content>
  </mat-card>
</div>
